name: Tests

on:
  workflow_dispatch: {}
  pull_request:
    branches:
      - main

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout

      - name: Run tests
        shell: bash
        run: make test
